<!--accidentAnalysisWin 事故疑点分析-->
<div class="accidentAnalysisWin m3">
    <div class="accidentAnalysisWinTerm lineD h50 lh25 overh bcFFC p5">
        <li class=" h25 overh fl w33b">
          <span class="c060">驾驶司机：</span>
          <span class=" tl" name="driverName"></span>
        </li>
        <li class=" h25 overh fl w33b">
          <span class="c060">驾驶证号：</span>
          <span class=" tl" name="drivingNumber"></span>
        </li>
        <li class=" h25 overh fl w33b">
          <span class="c060">停车时间：</span>
          <span class=" tl" name="stopTime"></span>
        </li>
        <li class=" h25 overh fl w33b">
          <span class="c060">车牌号码：</span>
          <span class=" tl" name="vehicleNo"></span>
        </li>
        <li class=" h25 overh fl w33b">
          <span class="c060">车辆类型：</span>
          <span class=" tl" name="vehicleType"></span>
        </li>
    </div>
    <!--功能模块-->
    <div class="mt3 h30 lh30 tc overh accidentAnalysisWinTab">
        <span class="fl hand w100 tit1 h30 radius3-t lineS69c_l lineS69c_r lineS69c_t cFFF isTab">曲线分析</span>
        <span class="fl hand w100 tit2 h30 radius3-t lineS_l lineS_r lineS_t isTab" >详细数据</span>
    </div>
    <!--切换(曲线分析)-->
    <div class="accidentAnalysisWinContent lineS bcFFF h300">
        <!--数据显示-->
        <div id="chartBOX" class="h300 w">    
        </div>
        
    </div>
    <!--切换(详细数据)-->
    <div class="accidentAnalysisWinContent none lineS bcFFF h300">
        <!--数据显示-->
        <div name="gridBOX">说撒
        </div>
    </div>
</div>