<!--加油管理车辆查询 fuelManage.html-->
<form name="searchVehicleForm" class=" m3 h30 overh">
    <input name="pageId" type="hidden"  value="" />
    <div class="h30 lh30 fl w160">
        车牌号：
        <input name="requestParam.like.vehicleNo" class="w100" type="text" value="" />
    </div>
    <div class="h30 lh30 fl w160">
        VIN码：
        <input name="requestParam.like.vinCode" class="w100" type="text" value="" />
    </div>
    <span class="vehicleListSearch btn1 cFFF fl ml20">查询</span>
    
</form>
<div class="vehicleInfoDiv"></div>