<div class="kcptWindow_qyzx">
    <div class="kcptWindow_top">
        <div class="kcptWindow_top_img"></div>
        <div class="kcptWindow_top_close" id="publishInfoDetailClose"></div>
        <div class="kcptWindow_top_text" id="publishInfoDetailTop"></div>
    </div>
    
    <div class="kcptWindow_main">
        <div class="kcptWindow_main_title">
            <div class="kcptWindow_main_title_text" id="publishInfoDetailTitle">    
            </div>
            <div class="kcptWindow_main_title_info">
                <span style="margin-right:15px;" id="source"></span>
                <span id="infoTime"></span>
            </div>
        </div>
        <div style="height:250px;">
            <div class="kcptWindow_main_text" id="publishInfoContent" style="word-break: break-all;"></div>
            <div class="kcptWindow_main_info"></div>
        </div>     
    </div>
    
    <div class="kcptWindow_bottom">
        <div class="kcptWindow_bottom_middle"></div>
    </div>
</div>