<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>提问</title>
</head>
<body>
<div style="width:550px;">
	<div class="kcptWindow_top">
		<div class="kcptWindow_top_img"></div>
        <div class="kcptWindow_top_close"><a href="javascript:void(0);" id="retQuestionClose">&nbsp;</a></div>
        <div class="kcptWindow_top_text"></div>
    </div>
    
	<div class="kcptWindow_main">
		<div class="kcptWindow_main_search" style="padding-left:28px;">我的问题：</div>
		<div class="kcptWindow_main_table">
			<textarea id="retTitle" style="margin:0 27px; width:488px; height:150px; color:#b0b0b0;" name="" cols="" rows="" onfocus="this.style.color='black';if(this.value=='请输入您的问题'){this.value='';}" onblur="if(this.value==''){this.value='请输入您的问题';this.style.color='#b0b0b0';}">请输入您的问题</textarea>            
        </div>
        <input id="retQuestion" type=button style="margin:20px 0 0 435px;" class="btn_green" onmouseover="this.style.backgroundPosition='-100px -50px'" onmouseout="this.style.backgroundPosition='-100px 0px'" value="提交" />
	</div>
	
	<div class="kcptWindow_bottom">
        <div class="kcptWindow_bottom_middle"></div>
    </div>
</div>
</body>
</html>