<!--切换（周边设施）-->
<div class=" lineD radius3 bcFFF p5 mb10 poiSearchForm">
    <p class="h30 lh30 fl w250">
        <span class="fl w80 tc">查询范围：</span>
        <select class="w70" name="queryRadius">
            <option value=500>500</option>
            <option value=1000>1000</option>
            <option value=2000>2000</option>
            <option value=5000>5000</option>
        </select>
        <input class="w80" type="text" name="keyword" value="查询条件"/>
    </p>
    <span class="btn2 cFFF fr mr10 queryAroundButton">查询</span>
    <div class="cb"></div>
</div>
<!--结果列表-->
<div class=" lineS h200 bcF2 poiList">//结果列表</div>