<!--切换（调度）-->
<h4 class=" h25 lh25 fb lineS_b">调度信息</h4>
<!-- 历史消息列表 -->
<div class=" cb p5 mt5 radius3 bcFFF lineD h200 overa messageList">
    <!--消息循环体-->
    <!-- <div class=" mb10 cb">
        <h5 class=" h20">
            系统消息-
            <font class="cC00 mr10">12:10:12</font>
            <font class="f10  mr10 c333">发送失败</font>
            <a class="f10 cF00" href="##">重发</a>
        </h5>
        <pre>小小路滑，真大眼睛，不要睡觉</pre>
    </div>

    <div class=" mb10 cb">
        <h5 class=" h20">
            系统消息-
            <font class="f10 cC00 mr10">12:10:12</font>
        </h5>
        <pre>真大眼睛，不要睡觉</pre>
    </div>

    <div class=" mb10 cb">
        <h5 class=" h20">
            系统消息-
            <font class="f10 cC00 mr10">12:10:12</font>
        </h5>
        <pre>不要睡觉</pre>
    </div>
    <div class=" mb10 cb">
        <h5 class=" h20">
            系统消息-
            <font class="f10 cC00 mr10">12:10:12</font>
        </h5>
        <pre>不要睡觉</pre>
    </div> -->
    <!--消息循环体end--> </div>

<!--消息发送模块-->
<div class="w pt10 messageForm">
    <p class="h30 lh25">
        <span class="fl w80">发送方式：</span>

        <span class="fl w70 checkbox">
            <input class="w20" type="checkbox" name="msgSendType" />
            紧急
        </span>
        <span class="fl w70 checkbox">
            <input class="w20" type="checkbox" name="msgSendType" />
            显示
        </span>
        <span class="fl w80 checkbox">
            <input class="w20" type="checkbox" name="msgSendType" />
            TTS播报
        </span>
        <span class="fl w80 checkbox">
            <input class="w20" type="checkbox" name="msgSendType" />
            广告屏
        </span>
    </p>
    <textarea class=" h50 w370 mauto" name="messageContent">请输入消息内容</textarea>
    <p class="h30 lh25">
        <span class="fl w200 lh25">
            预置消息：
            <select class=" w120" name="preMessage">

            </select>
        </span>
        <input class="fl w50" type="button" name="sendMessage" value=" 发送 " />
        <div class="fl ml10 commandSendStatus"></div>
    </p>
</div>