<!--切换（视频）-->
<div class=" h30 lh25 videoForm">
    <h3 class=" fl w100">监控视频</h3>
    <span class="fr">
        <font class=" c666">无法观看视频请</font>
        <a class="cF00 downloadVideoWidget" href="">下载视频插件</a>
    </span>
</div>
<!--视频列表-->
<div class="w mb10 videoBox">
    <ul>
        <li class=" fl w50b">
            <div class="h100 bcFFF lineD tc vm videoDiv">1</div>
        </li>
        <li class=" fl w50b">
            <div class="h100 bcFFF lineD tc vm videoDiv">2</div>
        </li>
        <li class=" fl w50b">
            <div class="h100 bcFFF lineD tc vm videoDiv">3</div>
        </li>
        <li class=" fl w50b">
            <div class="h100 bcFFF lineD tc vm videoDiv">4</div>
        </li>
    </ul>
    <div class="cb"></div>
</div>
<!--视频信息录入-->
<div class=" mt10 lineD radius3 bcFFC p5 videoOverload">
    <textarea class=" h50 w370 mauto" name="videoOverloadContent">请输入消息内容</textarea>
    <p class="h30 lh25">
        <span class="fl w60">标记超载：</span>
        <span class="fl w250 checkbox">
            <input class="w20" type="checkbox" name="videoOverloadFlag" />
            超载
        </span>
        <input class="fl w50" type="button" name="videoOverloadSaveButton" value=" 保 存 " />
    </p>

</div>