<!--切换（车辆详情）-->

<h4 class=" h25 lh25 fb lineS_b">车辆基本信息</h4>
<div class=" cb p5 mt5 radius3 bcFFC lineD">
  <ul class=" lh25 vehicleBasicInfo"></ul>
  <div class="cb"></div>
</div>
<div>
  <div class=" pt10 h25 lh25 lineS69c_b pl10 pr10 tc overh vehicleDetailTabs">
      <span class="fl hand w80 tit1 h25 radius3-t lineS_l lineS_r lineS_t" modelType="driverInfo">司机信息</span>
      <span class="fl hand w80 tit2 h25 radius3-t lineS_l lineS_r lineS_t" modelType="corpInfo">组织信息</span>
      <span class="fl hand w80 tit2 h25 radius3-t lineS_l lineS_r lineS_t" modelType="lineInfo">线路信息</span>
      <span class="fl hand w80 tit2 h25 radius3-t lineS_l lineS_r lineS_t" modelType="terminalInfo">设备信息</span>
  </div>
  <div class=" cb p5 mt5 radius3 bcFFC lineD vehicleDetailSubContents"></div>
</div>
